@model DomainModel.Nurse

<div>
     <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Nom")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Prénom")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Date de Naissance")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Adresse")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("N° sécurité sociale")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiretNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("E-mail")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Téléphone")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

<div>
    <a asp-area="" asp-controller="Nurse" asp-action="Index">Retour à la liste des infirmier(e)s</a>
</div>
