@model IEnumerable<DomainModel.Appointment>

@{
    ViewData["Title"] = "Liste des Rendez-vous";
}

<h1>Liste de vos Rendez-vous</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Date)*@
                Date
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AtHome)*@
                A Domicile
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Nurse)*@
                Infirmier(e)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Patient)*@
                Patient(e)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nurse.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modification</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
