@model IEnumerable<DomainModel.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nouveau Rdv</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtHome)
            </th>
            @if (User.IsInRole("ROLE_USER"))
            {//Si l'utilisateur connecté est patient(role user)
                <th>
                    @Html.DisplayNameFor(model => model.NurseId)
                </th>
            }
            else if (User.IsInRole("ROLE_ADMIN"))
            {//Si l'utilisateur est un infirmier (role admin)
                <th>
                    @Html.DisplayNameFor(model => model.PatientId)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AtHome)
                </td>
                @if (User.IsInRole("ROLE_USER"))
                {//Si l'utilisateur connecté est patient(role user)
                    <td>
                        @Html.DisplayFor(modelItem => item.Nurse.LastName)
                        @Html.DisplayFor(modelItem => item.Nurse.FirstName)
                    </td>
                }
                else if (User.IsInRole("ROLE_ADMIN"))
                {//Si l'utilisateur est un infirmier (role admin)
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.LastName)
                        @Html.DisplayFor(modelItem => item.Patient.FirstName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Détails</a>

                    @if (item.Status.Name != "Annulé" && item.Status.Name != "Fermé" && item.Status.Name != "Rejeté")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Modifier</a> <span>  </span>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary disabled">Modifier</a> <span>  </span>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary disabled">Supprimer</a>
                    }
                    @if (User.IsInRole("ROLE_ADMIN") || User.IsInRole("ROLE_SUPER_ADMIN"))
                    {
                        <a asp-action="Transfer" asp-route-id="@item.Id">Transfert</a>
                        <a asp-action="RejectStatus" asp-route-id="@item.Id">Rejeter</a>
                        <a asp-action="ValidateStatus" asp-route-id="@item.Id">Valider</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>